[Desktop Entry]
Encoding=UTF-8
Name=secpanel
Comment=Remembers telnet and SSH sessions
Comment[pl]=Zapamieje sesje telnet i SSH
Icon=secpanel.png
Exec=secpanel
Terminal=false
Type=Application
# vi: encoding=utf-8
