[Desktop Entry]
Name=secpanel
Comment=Remembers telnet and SSH sessions
Comment[pl]=Zapamieje sesje telnet i SSH
Icon=secpanel.png
Exec=secpanel
Terminal=0
Type=Application
# vi: encoding=utf-8
