[Desktop Entry]
Name=secpanel
Comment=Remembers telnet and SSH sessions
Comment[pl]=Zapamiętuje sesje telnet i SSH
Icon=secpanel
Exec=secpanel
Terminal=false
Type=Application
Categories=Network;RemoteAccess;
# vi: encoding=utf-8
